<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindenamirecept">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kedvencek"></activity>
        <activity
            android:name=".ReceptMegjelenit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Eloetelek"
            android:label="Keresés..." />
        <activity
            android:name=".Feltoltes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Kategoriak"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KezdolapSima"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GlobalClass" />
        <activity
            android:name=".Kezdolap"
            android:label="@string/title_activity_kezdolap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Regisztracio"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>